@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Open+Sans:wght@500&family=Quicksand:wght@300;400;500;600;700&family=Roboto:wght@100&family=Zen+Kurenaido&display=swap');
:root {
    --color1: #F5F5F5;
    --color2: #4C525D;
    --color3: #C3D3DF;
    --spacing: min(2vw, 20px);
    --rounded: 20px;
    --gallery-size: 300px;
    --border: 5px;
    --transition: 0.3s;
}

* {
    font-family: "Quicksand";
    margin: 0;
}

h1,
h2 {
    font-weight: 400;
}

::selection {
    background-color: var(--color3);
}

a:link {
    color: var(--color2);
    font-weight: normal;
    text-decoration: none;
}

a:visited {
    color: var(--color2);
}

a:focus {
    color: var(--color2);
}

a:hover {
    color: var(--color2);
}

a:active {
    color: var(--color2);
}