/* https://codepen.io/sosuke/pen/Pjoqqp */
/* https://pdf2png.com/ */
/* https://pdfcandy.com/png-to-pdf.html */
/* https://products.aspose.app/pdf/merger/png-to-pdf */

:root {
    /* --gcm-color-1: #cde4e8; */
    /* --gcm-color-2: #a6cfd7; */
    --gcm-color-1: #e6e6e6;
    --gcm-color-2: #272727;
    --gcm-color-3: #2a464b;

    --mm-color-1: #EAEFF2;
    --mm-color-2: #96b2c2;
    --mm-color-3: #2A3D48;

    --ga-color-1: #F2F4EC;
    --ga-color-2: #537048;
    --ga-color-3: #1A2B16;

    --pr-color-1: #F8F254;
    --pr-color-2: #C0494B;
    --pr-color-3: #000000;
    --pr-color-4: #2F68CB;

    --rs-color-1: #ececec;
    --rs-color-2: #FA5437;
    --rs-color-3: #222222;
    --rs-color-4: #6F18AB;

    --tfs-color-1: #DFDFDF;
    --tfs-color-2: #E58C17;
    --tfs-color-3: #242525;

    --dbe-color-1: #D0CAF4;
    --dbe-color-2: #6D62B4;
    --dbe-color-3: #2E2A5A;

    --ws-color-1: #EEE5D7;
    --ws-color-2: #E9D1AB;
    --ws-color-3: #24140B;

    --cm-color-1: #C8DAD4;
    --cm-color-2: #73988A;
    --cm-color-3: #214536;

    --dos-color-1: #E9ECF0;
    --dos-color-2: #C3D8DD;
    --dos-color-3: #333333;

    --bt-color-1: #E7EEF1;
    --bt-color-2: #A7C3CC;
    --bt-color-3: #293C43;

    --cb-color-1: #f3f3f3;
    --cb-color-2: #07b0f5;
    --cb-color-3: #050505;
    --cb-color-4: #FF088F;
}

* {
    font-family: "Inter", sans-serif;
    margin: 0px;
    font-weight: 200;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* #region Theme Classes */

/* #region gcm */

.gcm-background-color-1 {
    background-color: var(--gcm-color-1);
}

.gcm-color-1 {
    color: var(--gcm-color-1);
    border-color: var(--gcm-color-1);
}

.gcm-background-color-2 {
    background-color: var(--gcm-color-2);
}

.gcm-color-2 {
    color: var(--gcm-color-2);
    border-color: var(--gcm-color-2);
}

.gcm-background-color-3 {
    background-color: var(--gcm-color-3);
}

.gcm-color-3 {
    color: var(--gcm-color-3);
    border-color: var(--gcm-color-3);
}

/* #endregion */

/* #region mm */

.mm-background-color-1 {
    background-color: var(--mm-color-1);
}

.mm-color-1 {
    color: var(--mm-color-1);
    border-color: var(--mm-color-1);
}

.mm-background-color-2 {
    background-color: var(--mm-color-2);
}

.mm-color-2 {
    color: var(--mm-color-2);
    border-color: var(--mm-color-2);
}

.mm-background-color-3 {
    background-color: var(--mm-color-3);
}

.mm-color-3 {
    color: var(--mm-color-3);
    border-color: var(--mm-color-3);
}

/* .mm-dark-color-filter {
    filter: invert(18%) sepia(58%) saturate(338%) hue-rotate(157deg) brightness(90%) contrast(85%);
} */

/* #endregion */

/* #region ga */

.ga-background-color-1 {
    background-color: var(--ga-color-1);
}

.ga-color-1 {
    color: var(--ga-color-1);
    border-color: var(--ga-color-1);
}

.ga-background-color-2 {
    background-color: var(--ga-color-2);
}

.ga-color-2 {
    color: var(--ga-color-2);
    border-color: var(--ga-color-2);
}

.ga-background-color-3 {
    background-color: var(--ga-color-3);
}

.ga-color-3 {
    color: var(--ga-color-3);
    border-color: var(--ga-color-3);
}

/* #endregion */

/* #region pr */

.pr-background-color-1 {
    background-color: var(--pr-color-1);
}

.pr-color-1 {
    color: var(--pr-color-1);
    border-color: var(--pr-color-1);
}

.pr-background-color-2 {
    background-color: var(--pr-color-2);
}

.pr-color-2 {
    color: var(--pr-color-2);
    border-color: var(--pr-color-2);
}

.pr-background-color-3 {
    background-color: var(--pr-color-3);
}

.pr-color-3 {
    color: var(--pr-color-3);
    border-color: var(--pr-color-3);
}

.pr-background-color-4 {
    background-color: var(--pr-color-4);
}

.pr-color-4 {
    color: var(--pr-color-4);
    border-color: var(--pr-color-4);
}

/* #endregion */

/* #region rs */

.rs-background-color-1 {
    background-color: var(--rs-color-1);
}

.rs-color-1 {
    color: var(--rs-color-1);
    border-color: var(--rs-color-1);
}

.rs-background-color-2 {
    background-color: var(--rs-color-2);
}

.rs-color-2 {
    color: var(--rs-color-2);
    border-color: var(--rs-color-2);
}

.rs-background-color-3 {
    background-color: var(--rs-color-3);
}

.rs-color-3 {
    color: var(--rs-color-3);
    border-color: var(--rs-color-3);
}

.rs-background-color-4 {
    background-color: var(--rs-color-4);
}

.rs-color-4 {
    color: var(--rs-color-4);
    border-color: var(--rs-color-4);
}

/* #endregion */

/* #region tfs */

.tfs-background-color-1 {
    background-color: var(--tfs-color-1);
}

.tfs-color-1 {
    color: var(--tfs-color-1);
    border-color: var(--tfs-color-1);
}

.tfs-background-color-2 {
    background-color: var(--tfs-color-2);
}

.tfs-color-2 {
    color: var(--tfs-color-2);
    border-color: var(--tfs-color-2);
}

.tfs-background-color-3 {
    background-color: var(--tfs-color-3);
}

.tfs-color-3 {
    color: var(--tfs-color-3);
    border-color: var(--tfs-color-3);
}

/* #endregion */

/* #region dbe */

.dbe-background-color-1 {
    background-color: var(--dbe-color-1);
}

.dbe-color-1 {
    color: var(--dbe-color-1);
    border-color: var(--dbe-color-1);
}

.dbe-background-color-2 {
    background-color: var(--dbe-color-2);
}

.dbe-color-2 {
    color: var(--dbe-color-2);
    border-color: var(--dbe-color-2);
}

.dbe-background-color-3 {
    background-color: var(--dbe-color-3);
}

.dbe-color-3 {
    color: var(--dbe-color-3);
    border-color: var(--dbe-color-3);
}

/* #endregion */

/* #region ws */

.ws-background-color-1 {
    background-color: var(--ws-color-1);
}

.ws-color-1 {
    color: var(--ws-color-1);
    border-color: var(--ws-color-1);
}

.ws-background-color-2 {
    background-color: var(--ws-color-2);
}

.ws-color-2 {
    color: var(--ws-color-2);
    border-color: var(--ws-color-2);
}

.ws-background-color-3 {
    background-color: var(--ws-color-3);
}

.ws-color-3 {
    color: var(--ws-color-3);
    border-color: var(--ws-color-3);
}

/* #endregion */

/* #region cm */

.cm-background-color-1 {
    background-color: var(--cm-color-1);
}

.cm-color-1 {
    color: var(--cm-color-1);
    border-color: var(--cm-color-1);
}

.cm-background-color-2 {
    background-color: var(--cm-color-2);
}

.cm-color-2 {
    color: var(--cm-color-2);
    border-color: var(--cm-color-2);
}

.cm-background-color-3 {
    background-color: var(--cm-color-3);
}

.cm-color-3 {
    color: var(--cm-color-3);
    border-color: var(--cm-color-3);
}

/* #endregion */

/* #region dos */

.dos-background-color-1 {
    background-color: var(--dos-color-1);
}

.dos-color-1 {
    color: var(--dos-color-1);
    border-color: var(--dos-color-1);
}

.dos-background-color-2 {
    background-color: var(--dos-color-2);
}

.dos-color-2 {
    color: var(--dos-color-2);
    border-color: var(--dos-color-2);
}

.dos-background-color-3 {
    background-color: var(--dos-color-3);
}

.dos-color-3 {
    color: var(--dos-color-3);
    border-color: var(--dos-color-3);
}

/* #endregion */

/* #region bt */

.bt-background-color-1 {
    background-color: var(--bt-color-1);
}

.bt-color-1 {
    color: var(--bt-color-1);
    border-color: var(--bt-color-1);
}

.bt-background-color-2 {
    background-color: var(--bt-color-2);
}

.bt-color-2 {
    color: var(--bt-color-2);
    border-color: var(--bt-color-2);
}

.bt-background-color-3 {
    background-color: var(--bt-color-3);
}

.bt-color-3 {
    color: var(--bt-color-3);
    border-color: var(--bt-color-3);
}

/* #endregion */

/* #region cb */

.cb-background-color-1 {
    background-color: var(--cb-color-1);
}

.cb-color-1 {
    color: var(--cb-color-1);
    border-color: var(--cb-color-1);
}

.cb-background-color-2 {
    background-color: var(--cb-color-2);
}

.cb-color-2 {
    color: var(--cb-color-2);
    border-color: var(--cb-color-2);
}

.cb-background-color-3 {
    background-color: var(--cb-color-3);
}

.cb-color-3 {
    color: var(--cb-color-3);
    border-color: var(--cb-color-3);
}

.cb-background-color-4 {
    background-color: var(--cb-color-4);
}

.cb-color-4 {
    color: var(--cb-color-4);
    border-color: var(--cb-color-4);
}

/* #endregion */

/* #endregion */

/* #region Swoopy */

.swoopy-wrapper {
    position: absolute;
    width: 100vw;
    overflow: hidden;
    left: 0;
    opacity: 1;
    transition: opacity 0.2s ease;
}

.swoopy-wrapper.hidden {
    opacity: 0;
}

/* #endregion */

/* #region Home Tab */

gcm-home-tab {
    position: fixed;
    left: 0px;
    top: 1vh;
    padding: 1vh;
    transition: padding-left 0.2s ease;
    height: 8vh;
    box-sizing: border-box;
    z-index: 10;
    cursor: pointer;
    border-radius: 0px 20px 20px 0px;
}

gcm-home-tab>svg {
    width: auto;
    height: 100%;
}

gcm-home-tab:hover {
    padding-left: 4vh;
}

/* #endregion */

/* #region Buttons */

.text-button,
.svg-button {
    transition: transform 0.2s ease, font-weight 0.2s ease;
    /* white-space: nowrap; */
    /* padding: 5px 10px; */
    /* background-color: #0000000d; */
    /* font-size: 20px; */
}

.svg-button {
    width: 2em;
    height: 2em;
    color: inherit;
}

.svg-button>svg {
    width: 100%;
    height: 100%;
}

.text-button {
    width: fit-content;
    height: fit-content;
    padding: 1em;
    border-radius: 20px;
}

.svg-button:hover,
.text-button:hover {
    /* transform: scale(1.05) translateY(-5px); */
    transform: translateY(-5px);
    font-weight: 400;
}

/* #endregion */

/* #region Arrows */

.right-arrow,
.down-arrow,
.left-arrow {
    position: absolute;
    border-width: 0px 5px 5px 0px;
    border-style: solid;
    width: min(2vh, 2vw);
    height: min(2vh, 2vw);
    align-self: center;
}

@keyframes bobRight {
    0% {
        transform: translateX(-10px) rotateZ(315deg);
    }

    50% {
        transform: translateX(10px) rotateZ(315deg);
    }

    100% {
        transform: translateX(-10px) rotateZ(315deg);
    }
}

.right-arrow {
    animation: bobRight 2s ease-in-out 0s infinite forwards;
    right: min(5vh, 5vw);
}

@keyframes bobLeft {
    0% {
        transform: translateX(10px) rotateZ(135deg);
    }

    50% {
        transform: translateX(-10px) rotateZ(135deg);
    }

    100% {
        transform: translateX(10px) rotateZ(135deg);
    }
}

.left-arrow {
    animation: bobLeft 2s ease-in-out 0s infinite forwards;
    left: min(5vh, 5vw);
}

@keyframes bobDown {
    0% {
        transform: translateY(-10px) rotateZ(45deg);
    }

    50% {
        transform: translateY(10px) rotateZ(45deg);
    }

    100% {
        transform: translateY(-10px) rotateZ(45deg);
    }
}

.down-arrow {
    animation: bobDown 2s ease-in-out 0s infinite forwards;
    bottom: min(5vh, 5vw);
}

.arrow-container-right,
.arrow-container-left {
    position: absolute;
    display: flex;
    height: calc(100% - 10px);
    width: min(10vh, 10vw);
    cursor: pointer;
    background-color: transparent;
    transition: background-color 0.2s ease;
}

.arrow-container-left {
    border-radius: 40px 0px 0px 0px;
}

.arrow-container-right {
    border-radius: 0px 40px 0px 0px;
}

.arrow-container-right:hover,
.arrow-container-left:hover {
    background-color: #00000075;
}

.arrow-container-right {
    right: 0px;
}

.arrow-container-left {
    left: 0px;
}

/* #endregion */

/* #region Section Classes */

.full-section,
.half-section,
.fit-section {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    align-items: center;
    padding: 0vh 10vw;
}

.full-section>* {
    height: 60vh;
}

.half-section>* {
    height: 40vh;
}

/* #endregion */

/* #region Project Classes */

.project-header {
    justify-content: center;
    align-items: center;
    text-align: center;
    /* Move over slightly to allow room for the project render */
    transform: translateX(calc(80vh * -3/8));
}

.project-logo {
    max-width: 100%;
    max-height: 150px;
}

.project-render {
    position: absolute;
    height: 60vh;
    right: calc(80vh * -3/4);
}

.project-thumbnail {
    transition: transform 0.2s ease;
    background-position: center;
    background-size: cover;
}

.project-thumbnail:hover {
    transform: scale(1.1);
    cursor: none;
}

/* #endregion */

/* #region Content Classes */

.full-content,
.min-content,
.max-content {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    gap: min(5vh, 5vw);
    padding: min(10vh, 10vw);
    box-sizing: border-box;
    border-radius: 40px;
}

.full-content {
    width: min(80vh, 100%);
    justify-content: center;
}

.max-content {
    padding: 0vh 0vw;
    width: min(calc(80vh * 1.75), 100%);
}

header {
    height: 80vh;
    margin-bottom: 20vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

/* #endregion */

/* #region Block List */

.block-list {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: min(1vh, 1vw);
}

.block-list>p {
    padding: 1em;
    border-radius: 20px;
}

/* #endregion */

/* #region Slideshow List */

.slideshow-list {
    display: flex;
    flex-flow: row nowrap;
    gap: 0px;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    border-radius: 40px 40px 0px 0px;
}

.slideshow-list>img {
    width: 100%;
    scroll-snap-align: start;
}

.slideshow-button {
    display: none;
}

/* #endregion */

/* #region Logo List */

.logo-list {
    display: flex;
    flex-flow: row wrap;
    align-items: end;
    justify-content: space-evenly;
}

.logo-list>img {
    max-height: 20vh;
    max-width: 20vh;
}

/* #endregion */

/* #region Image and Video Grid */

iframe {
    border-radius: 40px;
    border-width: 0px;
    border-color: transparent;
    aspect-ratio: calc(1920 / 1080);
}

.image-grid-2,
.image-grid-3 {
    display: grid;
    gap: min(1vh, 1vw);
}

.image-grid-2 {
    grid-template-columns: 1fr 1fr;
}

.image-grid-3 {
    grid-template-columns: 1fr 1fr 1fr;
}

.image-grid-2>img,
.image-grid-3>img {
    width: 100%;
    border-radius: 40px;
}

/* #endregion */

/* #region Intro Animation */

.typewriter-effect {
    width: 0px;
    border-right-color: transparent;
    border-right-width: 5px;
    border-right-style: solid;
    overflow: hidden;
    white-space: nowrap;
    animation: write 1s steps(10) 0.5s 1 normal both, blinkCursor 0.5s steps(1) 8 normal;
}

@keyframes write {
    from {
        width: 0px;
    }

    to {
        width: 6em;
    }
}

@keyframes blinkCursor {
    0% {
        border-right-color: transparent;
    }

    50% {
        border-right-color: var(--gcm-color-2);
    }

    100% {
        border-right-color: transparent;
    }
}

.fade-up-effect {
    transform: translateY(50vh);
    background-color: transparent;
    animation: fade-up 1s ease 3s 1 normal forwards;
}

.fade-up-effect>*:not(.typewriter-effect) {
    opacity: 0;
    animation: fade-in 0.5s ease 3.5s 1 normal forwards;
}

/* this is stupid */
.fade-up-effect>*:not(.typewriter-effect).down-arrow {
    animation: fade-in 0.5s ease 3.5s 1 normal forwards, bobDown 2s ease-in-out 0s infinite forwards;
}

@keyframes fade-up {
    50% {
        background-color: var(--gcm-color-1);
    }

    100% {
        background-color: var(--gcm-color-1);
        transform: translateY(0px);
    }
}

.fade-in-effect {
    opacity: 0;
    animation: fade-in 1s ease 4s 1 normal forwards;
}

@keyframes fade-in {
    to {
        opacity: 1;
    }
}

/* #endregion */

body {
    overflow-x: hidden;
    padding: 8vh 0vw;
    display: flex;
    flex-flow: column nowrap;
    gap: min(8vh, 8vw);
}

h1 {
    font-size: 3.5vh;
}

a,
p {
    font-size: 2.5vh;
    /* text-decoration: none; */
}

.horizontal-list {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: min(1vh, 1vw);
}

.vertical-list {
    display: flex;
    flex-flow: column nowrap;
    gap: min(1vh, 1vw);
}

.drop-shadow {
    filter: drop-shadow(0px 0px 30px #0000001d);
}

.mouse-text {
    position: absolute;
    pointer-events: none;
    padding: min(1vh, 1vw);
    transition: opacity 0.2s ease;
    color: white;
    border-radius: 20px;
    white-space: nowrap;
}

@media screen and (max-width: calc(80vh * 1.75 + 10vw)) {
    .project-header {
        justify-content: center;
        align-items: center;
        text-align: center;
        transform: unset;
    }

    .project-render {
        display: none;
    }
}

@media screen and (max-width: 700px) {
    .slideshow-button {
        display: unset;
    }

    .slideshow-list,
    .arrow-container-left,
    .arrow-container-right,
    /* .swoopy-wrapper, */
    .mouse-text {
        display: none;
    }

    .project-thumbnail:hover {
        cursor: pointer;
    }

    .image-grid-2,
    .image-grid-3 {
        display: flex;
        flex-flow: column nowrap;
    }
}

/* 

Project Info Order:
- Teammates
- Collaborators
- Sponsors
- Mentors
- Professors

*/