html {
    scroll-snap-type: y mandatory;
    overflow: hidden scroll;
    scrollbar-gutter: stable;
}

body {
    display: flex;
    flex-flow: column nowrap;
    gap: 0px;
}

body.mindfulmirror {
    font-family: "Red Hat Display", sans-serif;
    background-color: #EAEFF2;
}

body.ridesafe {
    font-family: "Kollektif", sans-serif;
    background-color: #F1F1F1;
}

body.ridesafe p {
    line-height: 1.85;
}

body.winsom {
    font-family: "Jost", sans-serif;
    background-color: #f1ebe2;
}

body.dos {
    font-family: "Quicksand", sans-serif;
    background-color: #C1D7DD;
}

.project-header {
    font-size: max(2em, 4vw);
}

.slide {
    display: grid;
    scroll-snap-align: center;
    /* gap: var(--padding); */
    height: 100vh;
}

/* #region Slide Row Classes */

.slide.row-1 {
    grid-template-rows: repeat(1, 1fr);
}

.slide.row-2 {
    grid-template-rows: repeat(2, 1fr);
}

.slide.row-3 {
    grid-template-rows: repeat(3, 1fr);
}

.slide.row-4 {
    grid-template-rows: repeat(4, 1fr);
}

.slide>*.rowspan-1 {
    grid-row: span 1;
}

.slide>*.rowspan-2 {
    grid-row: span 2;
}

.slide>*.rowspan-3 {
    grid-row: span 3;
}

.slide>*.rowspan-4 {
    grid-row: span 4;
}

/* #endregion */

/* #region Slide Colum Classes */

.slide.col-1 {
    grid-template-columns: repeat(1, 1fr);
}

.slide.col-2 {
    grid-template-columns: repeat(2, 1fr);
}

.slide.col-3 {
    grid-template-columns: repeat(3, 1fr);
}

.slide.col-4 {
    grid-template-columns: repeat(4, 1fr);
}

.slide>*.colspan-1 {
    grid-column: span 1;
}

.slide>*.colspan-2 {
    grid-column: span 2;
}

.slide>*.colspan-3 {
    grid-column: span 3;
}

.slide>*.colspan-4 {
    grid-column: span 4;
}

/* #endregion */

.slide p {
    text-align: justify;
}

.slide>div {
    /* background-color: white; */
    padding: var(--padding);
    display: flex;
    flex-flow: column nowrap;
    gap: var(--gap);
    background-repeat: no-repeat;
    justify-content: center;
    overflow: hidden;
    /* border-radius: var(--border-radius); */
}

.slide>div.cover-image {
    background-size: cover;
    background-position: center;
}

.slide>div.center-image {
    background-size: contain;
    background-position: center;
}

.slide>div.top-image {
    background-size: contain;
    background-position: top;
}

.slide>div.bottom-image {
    background-size: contain;
    background-position: bottom;
}

.slide>iframe {
    width: 100%;
    height: 100%;
    border-width: 0px;
    outline: 0px;
}

@media screen and (max-width: 800px) {
    html {
        scroll-snap-type: unset;
    }

    .slide {
        display: flex;
        flex-flow: column nowrap;
        height: unset;
    }

    .slide>div.cover-image,
    .slide>div.center-image,
    .slide>div.top-image,
    .slide>div.bottom-image {
        min-height: 40vw;
    }

    .slide>iframe {
        min-height: 100vh;
    }
}