#content {
    position: fixed;
    width: var(--header-w);
    height: calc(100vh - var(--header-h));
    bottom: 0px;
    left: 0px;
    overflow: hidden;
    background-color: var(--color-lighter);
    scroll-behavior: smooth;
    transition: width var(--transition) ease, height var(--transition) ease;
}


/* #content.view {
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
} */

#header {
    position: fixed;
    width: calc(var(--header-w) - (var(--spacing-text) * 2));
    height: calc(var(--header-h) - (var(--spacing-h) * 2));
    padding: calc(var(--spacing-h)) var(--spacing-text) var(--spacing-h) var(--spacing-text);
    top: 0px;
    left: 0px;
    z-index: 5;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: stretch;
    background-color: var(--color-lighter);
    transition: top var(--transition) ease;
}


/* #header.view {
    top: calc(var(--header-h) * -1);
} */

#sidebar {
    position: fixed;
    width: calc(100vw - var(--header-w) - (var(--spacing-w) * 2));
    height: calc(100vh - (var(--spacing-h) * 2));
    padding: var(--spacing-h) var(--spacing-w) var(--spacing-h) var(--spacing-w);
    top: 0px;
    right: 0px;
    background-color: var(--color-darker);
    /* filter: drop-shadow(20px 0px 30px black); */
    overflow: scroll;
    overflow-x: hidden;
    transition: right var(--transition) ease;
}


/* #sidebar.view {
    right: calc((var(--spacing-w) * -2) - (100vw - var(--header-w)));
} */


/* #region Thumbnails */

.thumbnails {
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    align-items: center;
    gap: var(--spacing-h);
}

.thumbnail {
    height: calc((100vh - (var(--spacing-h) * 4)) / 3);
    cursor: pointer;
    filter: unset;
    transform: rotate(0deg);
    transition: filter 0.5s ease, transform 0.5s ease;
}

.thumbnail:hover {
    filter: drop-shadow(0px 0px 10px darkgray);
    /* Need to fix this not smoothly transitioning */
    animation: thumbnail-hover 4s infinite linear;
}

@keyframes thumbnail-hover {
    25% {
        transform: rotate(2deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(-2deg);
    }
    100% {
        transform: rotate(0deg);
    }
}


/* #endregion */


/* #region Projects */

gcm-project {
    position: absolute;
    width: 100%;
    height: calc(100vh - var(--header-h));
    top: calc(100vh - var(--header-h));
    left: 0px;
    z-index: initial;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: calc(100vh - var(--header-h));
    transition: top var(--transition) ease, z-index 0s step-start;
}

gcm-project>* {
    position: relative;
    width: 90%;
    height: calc((100vh - var(--header-h)) * 0.9);
    padding: calc((100vh - var(--header-h)) * 0.05) 5% calc((100vh - var(--header-h)) * 0.05) 5%;
}

gcm-project.preview {
    top: 0px;
    z-index: 10;
}

gcm-project.view {
    position: relative;
    top: 0px;
    /* position: absolute; */
    width: 100%;
    /* top: calc(100vh - var(--header-h)); */
    /* left: 0px; */
    /* z-index: initial; */
    display: grid;
    /* visibility: hidden; */
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: unset;
    /* grid-template-rows: repeat(0, calc(100vh - var(--header-h))); */
    grid-auto-rows: 85vh;
    transition: none;
    /* transition: top var(--transition) ease, z-index 0s step-start, grid-template-rows var(--transition) ease, visibility 0s step-start var(--transition); */
}


/* gcm-project.preview,
gcm-project.view {
    visibility: visible;
    top: 0px;
    z-index: 10;
    transition: top var(--transition) ease, z-index 0s step-start, grid-template-rows var(--transition) ease, visibility 0s step-start;
}

gcm-project.none {
    display: none;
} */

gcm-project.view>* {
    width: 90%;
    height: calc(85vh * 0.9);
    padding: calc(85vh * 0.05) 5% calc(85vh * 0.05) 5%;
}

gcm-project>span {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

gcm-project>div {
    display: flex;
    flex-flow: column nowrap;
    gap: 2.5%;
}

gcm-project.view>embed,
gcm-project.view>iframe {
    width: 100%;
    height: 100%;
    padding: 0px;
}


/* #endregion */