body {
    background-color: white;
    color: var(--color2);
}

hr {
    background-color: var(--color3);
    border: calc(var(--border) / 2) solid var(--color3);
    border-radius: calc(var(--border) / 2);
}

custom-header {
    background-color: var(--color1);
    position: fixed;
    left: 0;
    right: 0;
    border-bottom: var(--border) solid var(--color3);
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: stretch;
    z-index: 10;
}

.header-title {
    position: relative;
    margin: var(--spacing);
}

.header-title::after {
    content: '';
    position: absolute;
    width: 0px;
    z-index: -1;
    height: var(--border);
    left: 50%;
    bottom: 0;
    background-color: var(--color3);
    transition: var(--transition);
}

.header-title:hover::after {
    width: 100%;
    left: 0;
}

.header-list {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-content: center;
}

.header-list>* {
    position: relative;
    padding: var(--spacing);
    background-color: var(--color1);
    font-size: 1.1em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(var(--gallery-size) / 2);
}

.header-list>*::after {
    content: '';
    position: absolute;
    width: 0px;
    height: var(--border);
    left: 50%;
    bottom: 0;
    background-color: var(--color3);
    transition: var(--transition);
}

.header-list>*:hover::after {
    width: 100%;
    left: 0;
}

.dropdown {
    cursor: pointer;
}

.dropdown-list {
    width: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-color: var(--color3);
    display: flex;
    border-top: var(--border) solid var(--color3);
    flex-flow: column nowrap;
    transition: var(--transition);
    /* border-radius: 0 0 var(--rounded) var(--rounded); */
}

.dropdown-list>* {
    position: relative;
    padding: calc(var(--spacing) / 3);
    transition: var(--transition);
    overflow: hidden;
    white-space: nowrap;
}

.dropdown-list>*:hover {
    /* background-color: var(--color1); */
    text-indent: var(--spacing);
}

.dropdown-list>*::after {
    content: '';
    position: absolute;
    width: 0px;
    z-index: -1;
    height: 100%;
    left: 0;
    bottom: 0;
    background-color: var(--color1);
    transition: var(--transition);
}

.dropdown-list>*:hover::after {
    width: 100%;
}

.dropdown:hover>.dropdown-list {
    transform: translateY(100%);
    /* bottom: calc(var(--border) * -1); */
}

.header-image {
    background-image: url('../media/background.png');
    background-blend-mode: lighten;
    background-color: rgba(255, 255, 255, 0.5);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -1500px 50px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: var(--spacing);
    height: min(100vh, 1000px);
    color: var(--color2);
    font-size: 2em;
}

.header-imageless {
    background-image: none;
    height: 40vh;
}

.description {
    padding: var(--spacing) calc(var(--spacing) * 6);
    background-color: var(--color1);
    font-size: x-large;
}

.description>* {
    margin: var(--spacing);
}

.description>img {
    width: 250px;
    float: right;
    outline: var(--border) solid var(--color1);
    outline-offset: calc(var(--border) / -2);
    border-radius: 100%;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--gallery-size), 1fr));
    gap: var(--spacing);
    padding: var(--spacing);
    box-sizing: border-box;
}

.gallery-item {
    aspect-ratio: 1;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: var(--spacing);
    text-align: center;
    background-color: var(--color1);
    padding: var(--spacing);
    border-radius: var(--rounded);
    border: var(--border) solid var(--color3);
    cursor: pointer;
    position: relative;
    z-index: 0;
    transition: 1s;
}

.gallery-item::before,
.gallery-item::after {
    position: absolute;
    background: var(--color1);
    z-index: -1;
    transition: 1s;
    content: '';
}

.gallery-item::before {
    height: 104%;
    width: 85%;
}

.gallery-item::after {
    height: 85%;
    width: 104%;
}

.gallery-item:hover::before {
    width: 0px;
}

.gallery-item:hover::after {
    height: 0px;
}

.gallery-item>h1 {
    font-weight: 600;
}

.project {
    display: grid;
    grid-auto-columns: 1fr;
    gap: var(--spacing);
    padding: var(--spacing);
    align-items: center;
}

.project>* {
    width: 100%;
    height: 100%;
    border-radius: var(--rounded);
}