body {
    background-color: white;
    color: var(--color2);
}

hr {
    background-color: var(--color3);
    border: calc(var(--border) / 2) solid var(--color3);
    border-radius: calc(var(--border) / 2);
}

custom-header {
    background-color: var(--color1);
    position: fixed;
    left: 0;
    right: 0;
    border-bottom: var(--border) solid var(--color3);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: stretch;
    z-index: 10;
}

.header-title {
    position: relative;
    margin: var(--spacing);
    background-color: var(--color1);
    text-align: center;
    z-index: 20;
}

.header-title::after {
    content: '';
    position: absolute;
    width: 0px;
    z-index: 1;
    height: var(--border);
    left: 50%;
    bottom: 0;
    background-color: var(--color3);
    transition: var(--transition);
}

.header-title:hover::after {
    width: 100%;
    left: 0;
}

.header-list {
    display: flex;
    position: relative;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-content: center;
}

.header-list>.dropdown {
    position: relative;
    padding: var(--spacing);
    background-color: var(--color1);
    font-size: 1.1em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(var(--gallery-size) / 2);
}

.header-list>.dropdown::after {
    content: '';
    position: absolute;
    width: 0px;
    height: var(--border);
    left: 50%;
    bottom: 0;
    background-color: var(--color3);
    transition: var(--transition);
}

.header-list>.dropdown:hover::after {
    width: 100%;
    left: 0;
}

.dropdown {
    cursor: pointer;
}

.dropdown-list {
    width: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-color: var(--color3);
    display: flex;
    border-top: var(--border) solid var(--color3);
    flex-flow: column nowrap;
    transition: var(--transition);
    /* border-radius: 0 0 var(--rounded) var(--rounded); */
}

.dropdown-list>* {
    position: relative;
    padding: calc(var(--spacing) / 3);
    transition: var(--transition);
    /* overflow: hidden; */
    white-space: nowrap;
}

.dropdown-list>*:hover {
    /* background-color: var(--color1); */
    text-indent: var(--spacing);
}

.dropdown-list>*::after {
    content: '';
    position: absolute;
    width: 0px;
    z-index: -1;
    height: 100%;
    left: 0;
    bottom: 0;
    background-color: var(--color1);
    transition: var(--transition);
}

.dropdown-list>*:hover::after {
    width: 100%;
}

.dropdown:hover>.dropdown-list {
    transform: translateY(100%);
    /* bottom: calc(var(--border) * -1); */
}

.header-image {
    background-image: url('../media/background.png');
    background-blend-mode: lighten;
    background-color: rgba(255, 255, 255, 0.5);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: -1500px 50px; */
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: var(--spacing);
    height: min(100vh, 1000px);
    color: var(--color2);
    font-size: 2em;
    text-align: center;
}

.header-imageless {
    background-image: none;
    height: 40vh;
    text-align: center;
    padding-top: 10vh;
}

.description {
    padding: var(--spacing) calc(var(--spacing) * 6);
    background-color: var(--color1);
    font-size: x-large;
}

.description>* {
    margin: var(--spacing);
}

.description>img {
    width: 250px;
    float: right;
    outline: var(--border) solid var(--color1);
    outline-offset: calc(var(--border) / -2);
    border-radius: 100%;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--gallery-size), 1fr));
    gap: var(--spacing);
    padding: var(--spacing);
    box-sizing: border-box;
}

.gallery-item {
    aspect-ratio: 1;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: var(--spacing);
    text-align: center;
    background-color: rgba(245, 245, 245, 0.7);
    background-blend-mode: lighten;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    padding: var(--spacing);
    border-radius: var(--rounded);
    border-style: solid;
    border-color: var(--color3);
    border-width: 0px;
    cursor: pointer;
    position: relative;
    z-index: 0;
    transition: transform 0.2s ease-in, background-color 0.25s ease;
}

.gallery-item:hover {
    transform: scale(1.05, 1.05);
    background-color: rgba(245, 245, 245, 0.9);
}


/* .gallery-item::before,
.gallery-item::after {
    position: absolute;
    background: var(--color1);
    z-index: -1;
    transition: 1s;
    content: '';
}

.gallery-item::before {
    height: 104%;
    width: 85%;
}

.gallery-item::after {
    height: 85%;
    width: 104%;
}

.gallery-item:hover::before {
    width: 0px;
}

.gallery-item:hover::after {
    height: 0px;
} */

.gallery-item>h1 {
    font-weight: 600;
}

.project {
    display: grid;
    grid-auto-rows: 42vh;
    gap: var(--spacing);
    padding: var(--spacing);
}

.project>img {
    /* width: 100%; */
    /* height: 100%; */
    /* background-position: center; */
    /* background-size: contain; */
    /* background-repeat: no-repeat; */
    /* border: 1px solid green; */
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
    border-radius: var(--rounded);
    align-self: center;
    justify-self: center;
}

.project>embed,
.project>iframe {
    width: 100%;
    height: 100%;
    border-radius: var(--rounded);
}

@media screen and (max-width: 1000px) {
    .project {
        display: flex;
        flex-flow: column nowrap;
    }
    .project>embed,
    .project>iframe {
        height: 80vh;
    }
    custom-header {
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }
    .header-list {
        align-self: stretch;
    }
}