gcm-project {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-auto-rows: 85vh;
}

gcm-project>* {
    width: 90%;
    padding: 5%;
}

gcm-project>span {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

gcm-project>div {
    display: flex;
    flex-flow: column nowrap;
}